$secondary-text: #FFFFFF;
$features-color: #3057A2;
$information-text: #313131;
$running-line-background: #F54932;
$inactive-dotcolor: #D9D9D9;

$secondary-background: #E9DED4;
$features-item-desc-background: #FFFFFF;