$breakpoints: (
    desktop: 1366px,
    mobile: 376px
);

$m-common-wraps: 110px 40px;
$not-m-common-wraps: 70px 40px;

$m-features-header: 36px;
$not-m-features-header: 54px;

$m-features-header-desc: 18px;
$not-m-features-header-desc: 20px;

$m-features-list-item: 18px;
$not-m-features-list-item: 20px;

$m-features-list-item-container: 62px 72px;
$not-m-features-list-item-container: 20px 72px;
$features-list-item-number-font-size: 20px;
$features-list-item-number-size: 36px;

$m-header-partisipants-font: 36px;
$not-m-header-partisipants-font: 54px;
$participant-name: 24px;
$participant-link-font: 16px;
$participants-nav-button: 44px;
$m-participants-nav-button: 36px;
$participants-nav-button-icon: 9px;
$m-participants-nav-button-icon: 7px;

$m-runningline-wraps: 12px 10px;
$m-runningline-font: 16px;
$not-m-runningline-wraps: 18px 12px;
$not-m-runningline-font: 22px;

$footer-font: 16px;